/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 16px;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24px;
}
 /* unvisited link */
a:link {
  color: #0E6ED5
}

/* visited link */
a:visited {
  color: #0E6ED5
}

/* mouse over link */
a:hover {
  color: #0E6ED5
}

/* selected link */
a:active {
  color: #0E6ED5
} 

/* table stripe color */
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F7F8FA;
 }

